.footer {
    background: #111320;
    padding: 70px 80px 30px;
    color: white;
    font-family: sans-serif;
}

.footer-container {
    width: 100%;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin-bottom: 40px;
}

.footer-left h2 {
    font-size: 42px;
    line-height: 1.3;
    margin-bottom: 40px;
    font-weight: 700;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 14px;
    color: #d7d7d7;
    font-size: 16px;
}

.contact-item img {
    width: 22px;
    height: 22px;
}

.footer-right {
    display: flex;
    gap: 120px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.footer-links h4 {
    color: #56e8ff;
    font-size: 18px;
    margin-bottom: 8px;
    font-weight: 500;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    transition: 0.3s;
}

.footer-links a:hover {
    color: #56e8ff;
}

.footer-line {
    width: 100%;
    height: 1px;
    background: rgba(255,255,255,0.4);
    margin-bottom: 28px;
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.footer-brand img {
    height: 2px;
}

.footer-social {
    display: flex;
    align-items: center;
    gap: 35px;
}

.footer-social a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

.footer-social a:hover {
    color: #56e8ff;
}

.footer-social img {
    width: 20px;
    height: 20px;
}

.footer-copy {
    color: #d1d1d1;
    font-size: 15px;
}

/* RESPONSIVE */
@media (max-width: 900px) {

    .footer {
        padding: 60px 24px 30px;
    }

    .footer-top {
        flex-direction: column;
        gap: 50px;
    }

    .footer-right {
        gap: 60px;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
    }

    .footer-social {
        flex-wrap: wrap;
        gap: 20px;
    }

    .footer-left h2 {
        font-size: 32px;
    }
}